
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.offers-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  background: url("../assets/bg-salon.jpg")
    no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px); 
  z-index: 999;
}

/* MODAL BOX */
.offers-modal {
  background: rgba(255, 255, 255, 0.15); 
  padding: 20px;
  width: 90%;
  max-width: 380px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  backdrop-filter: blur(12px);
  text-align: center;
  animation: pop 0.3s ease-in-out;
}

/* Animation */
@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

/* TITLE */
.offer-title {
  font-family: 'Cinzel', serif;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


/* OFFERS LIST */
.offers-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.offer-card {
  background: rgba(255, 255, 255, 0.25);
  padding: 12px;
  border-radius: 14px;
  border-left: 5px solid #ffcc00;
  color: white;
  backdrop-filter: blur(4px);
}

.offer-card h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  text-shadow: 0px 0px 2px black;
}

.offer-price {
  font-size: 18px;
  font-weight: bold;
  color: #ffdf5d;
  margin-top: 5px;
  text-shadow: 0px 0px 2px black;
}

/* CLOSE BUTTON */
.close-btn {
  margin-top: 20px;
  background: #ffdd55;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.close-btn:hover {
  background: #ffcc00;
}