/* Full screen blur */
.review-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  z-index: 1000;
}

/* Modal box  */
.review-modal {
  width: 360px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(2px);
  box-shadow: 0 6px 25px rgba(0,0,0,0.4);
  animation: popup 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* Background image */
.custom-review-bg {
  background-image: url("../assets/bg-salon.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Input boxes  */
.input-box {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  background: rgba(255,255,255,0.5);
  border: none;
  font-size: 15px;
  margin: 0 auto;
}


.button-row {
  width: 90%;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

/* Buttons  */
.submit-btn, .cancel-btn {
  flex: 1;        
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* Colors */
.submit-btn {
  color: #000;
  font-weight: 700;
  background: linear-gradient(135deg, #f6d365, #fda085);
  box-shadow: 0 4px 10px rgba(253, 160, 133, 0.5);
}

.cancel-btn {
  color: white;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.4);
}

/* Title */
.review-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

/* STAR RATING */
.star-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.star {
  font-size: 30px;
  color: rgba(255,255,255,0.4);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
}

.star.filled {
  color: gold;
  text-shadow: 0 0 10px gold;
}

.star:hover {
  transform: scale(1.2);
}